* { box-sizing: border-box; }

// this is for testing css auto prefixer
input::placeholder {
  color: gray;
}

// color variables
$patina:                    #699;
$nebula:                    #d2e1dd;
$white:                     #fff;
$regent-grey:               #808c99;
$pale-sky:                  #6b717f;
$midnight-blue:             #036;
$black:                     #000;

// main color palette
// =============
$color-primary:             $midnight-blue;
$color-body:                $nebula;
  
html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

body {
    background-color: $color-body;
}

h2 { color: $color-primary; }