html,
body {
  width: 100%;
  height: 100%;
  color: white;
  background: $body-bg-color;
}
* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}
@media (min-width: 2048px) {
  body,
  html {
    font-size: 32px;
  }
}
