.wrapper {
  background-color: $bg-color;
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}
@media (min-width: 1024px) {
  .wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 768px;
    max-height: 864px;
    // max-height: 1365px;
  }
}
@media (min-width: 2048px) {
  .wrapper {
    width: 1200px;
    max-height: 1500px;
  }
}
